@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,500");

.mx-auto-404 {
  margin-left: auto;
  margin-right: auto;
}

.container-404,
.container-404 > .row-404,
.container-404 > .row-404 > div {
  height: 100%;
}

.container-404 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

#countUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#countUp .number-404 {
  font-size: 4rem;
  font-weight: 500;
}
#countUp .number-404 + .text-404 {
  margin: 0 0 1rem;
}
#countUp .text-404 {
  font-weight: 300;
  text-align: center;
}